.rough-bottom {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 0%,
    100% 100%,
    100% 98.7663%,
    98% 99.9881%,
    96% 99.4231%,
    94% 98.7336%,
    92% 99.756%,
    90% 99.9308%,
    88% 98.7205%,
    86% 99.5234%,
    84% 99.6268%,
    82% 99.4693%,
    80% 99.4919%,
    78% 98.6631%,
    76% 99.829%,
    74% 99.1668%,
    72% 99.6115%,
    70% 99.6912%,
    68% 99.9664%,
    66% 99.9199%,
    64% 99.3544%,
    62% 99.6295%,
    60% 99.2885%,
    58% 99.1585%,
    56% 99.8917%,
    54% 99.0242%,
    52% 98.762%,
    50% 98.8586%,
    48% 98.9323%,
    46% 99.3215%,
    44% 99.8909%,
    42% 99.1805%,
    40% 99.4481%,
    38% 98.6758%,
    36% 99.1698%,
    34% 99.9449%,
    32% 99.0227%,
    30% 99.5944%,
    28% 98.8316%,
    26% 99.5155%,
    24% 98.9584%,
    22% 99.0726%,
    20% 99.6112%,
    18% 99.7004%,
    16% 99.2827%,
    14% 98.6127%,
    12% 99.625%,
    10% 98.9717%,
    8% 98.9228%,
    6% 98.6455%,
    4% 99.4071%,
    2% 99.4327%,
    0% 100%,
    0% 0%
  );
}
.rough-edge {
  clip-path: polygon(
    0% 0.19312%,
    2% 0.181348%,
    4% 0.0657044%,
    6% 0.174247%,
    8% 0.00991036%,
    10% 0.193162%,
    12% 0.13196%,
    14% 0.0511763%,
    16% 0.15857%,
    18% 0.137971%,
    20% 0.0832265%,
    22% 0.191486%,
    24% 0.0944933%,
    26% 0.000460972%,
    28% 0.00045787%,
    30% 0.042648%,
    32% 0.0894191%,
    34% 0.185394%,
    36% 0.198549%,
    38% 0.108761%,
    40% 0.157779%,
    42% 0.00577207%,
    44% 0.0080249%,
    46% 0.0853929%,
    48% 0.0431196%,
    50% 0.183405%,
    52% 0.133985%,
    54% 0.0124449%,
    56% 0.151929%,
    58% 0.0951885%,
    60% 0.0406327%,
    62% 0.0316784%,
    64% 0.121919%,
    66% 0.0510959%,
    68% 0.032824%,
    70% 0.154543%,
    72% 0.0532926%,
    74% 0.0190397%,
    76% 0.146238%,
    78% 0.196417%,
    80% 0.183055%,
    82% 0.0412745%,
    84% 0.0653134%,
    86% 0.0981689%,
    88% 0.178654%,
    90% 0.0354337%,
    92% 0.0447535%,
    94% 0.0904421%,
    96% 0.150827%,
    98% 0.100795%,
    99.9571% 0%,
    99.9389% 2%,
    99.8925% 4%,
    99.9467% 6%,
    99.9322% 8%,
    99.9357% 10%,
    99.8635% 12%,
    99.8938% 14%,
    99.8983% 16%,
    99.9172% 18%,
    99.8586% 20%,
    99.9036% 22%,
    99.9297% 24%,
    99.9454% 26%,
    99.9139% 28%,
    99.8409% 30%,
    99.8879% 32%,
    99.8299% 34%,
    99.9726% 36%,
    99.9742% 38%,
    99.9453% 40%,
    99.9499% 42%,
    99.9733% 44%,
    99.8432% 46%,
    99.9621% 48%,
    99.8771% 50%,
    99.9747% 52%,
    99.8122% 54%,
    99.8348% 56%,
    99.9184% 58%,
    99.9941% 60%,
    99.9613% 62%,
    99.8215% 64%,
    99.9747% 66%,
    99.859% 68%,
    99.8481% 70%,
    99.9807% 72%,
    99.8946% 74%,
    99.8136% 76%,
    99.8835% 78%,
    99.8126% 80%,
    99.9024% 82%,
    99.902% 84%,
    99.8218% 86%,
    99.8204% 88%,
    99.9479% 90%,
    99.8441% 92%,
    99.859% 94%,
    99.9128% 96%,
    99.9571% 98%,
    100% 99.8478%,
    98% 99.9274%,
    96% 99.9894%,
    94% 99.879%,
    92% 99.9363%,
    90% 99.927%,
    88% 99.824%,
    86% 99.9095%,
    84% 99.8981%,
    82% 99.9063%,
    80% 99.8205%,
    78% 99.8751%,
    76% 99.878%,
    74% 99.8635%,
    72% 99.9368%,
    70% 99.9549%,
    68% 99.8997%,
    66% 99.8043%,
    64% 99.9541%,
    62% 99.8219%,
    60% 99.8325%,
    58% 99.8027%,
    56% 99.8916%,
    54% 99.9441%,
    52% 99.921%,
    50% 99.9871%,
    48% 99.8393%,
    46% 99.9694%,
    44% 99.8732%,
    42% 99.9237%,
    40% 99.8108%,
    38% 99.9125%,
    36% 99.8418%,
    34% 99.8066%,
    32% 99.8588%,
    30% 99.8557%,
    28% 99.9485%,
    26% 99.8074%,
    24% 99.8736%,
    22% 99.9288%,
    20% 99.8114%,
    18% 99.8155%,
    16% 99.9272%,
    14% 99.8328%,
    12% 99.9971%,
    10% 99.8997%,
    8% 99.9207%,
    6% 99.9907%,
    4% 99.9091%,
    2% 99.9994%,
    0.0807048% 100%,
    0.194881% 98%,
    0.00362195% 96%,
    0.07054% 94%,
    0.0520959% 92%,
    0.0129008% 90%,
    0.183952% 88%,
    0.111691% 86%,
    0.0681622% 84%,
    0.122881% 82%,
    0.0806492% 80%,
    0.171372% 78%,
    0.0719235% 76%,
    0.00805954% 74%,
    0.120457% 72%,
    0.015293% 70%,
    0.129076% 68%,
    0.107747% 66%,
    0.166096% 64%,
    0.0908289% 62%,
    0.150307% 60%,
    0.0442733% 58%,
    0.172788% 56%,
    0.184776% 54%,
    0.139083% 52%,
    0.0404834% 50%,
    0.0567943% 48%,
    0.129028% 46%,
    0.0635311% 44%,
    0.0828879% 42%,
    0.107194% 40%,
    0.138422% 38%,
    0.133725% 36%,
    0.0748808% 34%,
    0.0633631% 32%,
    0.190333% 30%,
    0.028639% 28%,
    0.036895% 26%,
    0.0837614% 24%,
    0.157669% 22%,
    0.0631094% 20%,
    0.153861% 18%,
    0.0863189% 16%,
    0.139281% 14%,
    0.0925084% 12%,
    0.124721% 10%,
    0.068144% 8%,
    0.00348682% 6%,
    0.0943472% 4%,
    0.0734337% 2%
  );
}
.rough-top {
  clip-path: polygon(
    0% 1.01962%,
    2% 1.32138%,
    4% 1.32088%,
    6% 0.89535%,
    8% 0.923962%,
    10% 0.496185%,
    12% 1.12279%,
    14% 0.406427%,
    16% 0.0958052%,
    18% 0.546751%,
    20% 1.10048%,
    22% 0.976219%,
    24% 0.619069%,
    26% 0.125939%,
    28% 1.232%,
    30% 0.327716%,
    32% 0.843973%,
    34% 0.323747%,
    36% 0.106465%,
    38% 1.2768%,
    40% 0.998838%,
    42% 0.94823%,
    44% 0.359832%,
    46% 0.60026%,
    48% 0.709072%,
    50% 1.13351%,
    52% 0.838895%,
    54% 1.15141%,
    56% 0.765083%,
    58% 0.486532%,
    60% 0.502104%,
    62% 0.0874785%,
    64% 0.598391%,
    66% 1.31706%,
    68% 0.958371%,
    70% 0.222291%,
    72% 0.66968%,
    74% 0.623236%,
    76% 0.226241%,
    78% 0.917956%,
    80% 0.416252%,
    82% 0.395066%,
    84% 1.27706%,
    86% 0.160898%,
    88% 0.671277%,
    90% 1.07571%,
    92% 1.33107%,
    94% 0.34895%,
    96% 1.30604%,
    98% 1.38277%,
    100% 0%,
    100% 100%,
    100% 100%,
    0% 100%,
    0% 100%,
    0% 0%
  );
}
