@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'Calton';
    src: url('/font/Calton Elegance Sans-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MiniStory';
    src: url('/font/MiniStory-7BYB4.ttf') format('truetype'), url('/font/MiniStory-w1216.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MiniStory';
    src: url('/font/MiniStoryBold-vmKm9.ttf') format('truetype'), url('/font/MiniStoryBold-2OnOo.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OllieWollie';
    src: url('/font/OllieWollie.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OllieWollie';
    src: url('/font/OllieWollie-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'OllieWollie';
    src: url('/font/OllieWollie-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'OllieWollie';
    src: url('/font/OllieWollie-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}